RewriteEngine On
RewriteRule ^trang-chu$ index.php
RewriteRule ^gio-hang$ index.php?controller=cart
RewriteRule ^san-pham-yeu-thich$ index.php?controller=wishlist
RewriteRule ^tin-tuc$ index.php?controller=news
RewriteRule ^lien-he$ index.php?controller=contact
RewriteRule ^san-pham/(.*)/(.*)$ index.php?controller=products&action=categories&category_id=$2
RewriteRule ^chi-tiet-san-pham/(.*)/(.*)$ index.php?controller=products&action=detail&id=$2